<div class="points-container ">
  <h1>Points</h1>
  <svg
    #gaugeChartSvg
    id="gaugeChartSvg"
    viewBox="0 0 303.4 280.26">
    <g
      id="Layer_2"
      data-name="Layer 2">
      <g
        id="Layer_1-2"
        data-name="Layer 1">
        <path
          class="shadow"
          id="max-data-circle"
          d="M58.08,246.82a133.46,133.46,0,1,1,188.73,0"/>
          <g class="cls-2">
            <!-- Current data slice  -->
            <path
              class="current-data-circle shadow"
              d="M58.08,246.82A133.47,133.47,0,0,1,221.39,38.16"/>

          </g>

        </g>

        <linearGradient id="current-data-gradient">
          <stop offset="2%" stop-color="#0e2d43" />
          <stop offset="55%" stop-color="#ffa600" />
          <stop offset="77%" stop-color="#ffa600" />
          <stop offset="98%" stop-color="#ffa600" />
        </linearGradient>

        <linearGradient id="max-data-gradient">
          <stop offset="2%" stop-color="#0e2d43" />
          <stop offset="55%" stop-color="#ffa600" />
          <stop offset="77%" stop-color="#ffa600" />
          <stop offset="98%" stop-color="#0e2d43" />
        </linearGradient>

        <text
          class="shadow"
          x="50%"
          y="50%"
          dx="-59.5"
          dy="26">
          {{ current < 10 ? '0'+current : current }}%
        </text>

      </g>
      
      Can not paint SVG.
  </svg>

</div>
