svg#gaugeChartSvg {
  width: 300px;
  margin: 20px;

}


#Layer_2 > text {
  font-size: 58px;
  font-weight: 900;
  fill: #0e2d43;

}

div.points-container {
  position: relative;
  background-color: white;
  border: 1px solid #00000022;
  padding: 1rem 0;
  height: 88%;
  border-radius: 4px;
  flex: 0;
}


div.points-container h1 {
  background-color: #0e2d43;
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: -1rem;
  border-radius: 4px 4px 0 0;
}

svg#gaugeChartSvg path {
  fill: transparent;
  stroke-linecap: round;
  transition: 420ms ease;
  box-shadow: 5px 6px 5px black;
  transform: scale(.9);
  transform-origin: 50% 50%;
  opacity: 1;
  transition: 300ms ease ;

}

svg#gaugeChartSvg path.current-data-circle {
  stroke: url(#current-data-gradient);
  stroke-width: 37;
  filter: blur(10px);
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,.22));
}

svg#gaugeChartSvg  path#max-data-circle {
  fill: transparent;
  stroke: url(#max-data-gradient);
  stroke-width: 35;
  opacity: .2;
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,.22));
 
}

svg#gaugeChartSvg path#current-data-circle:hover {
  stroke-width: 36;
}

svg#gaugeChartSvg path#max-data-circle:hover {
  stroke-width: 36;
}

svg#gaugeChartSvg path#current-data-circle:hover {
  stroke-width: 40 !important;
}



.shadow {
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,.22));
}

.pulse {
  animation: pulse 1000ms forwards linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

svg#gaugeChartSvg path:hover {
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,.32));
}